@use '../../style' as s;

@use '../../style/form' as form;


.data {
    display: flex;
    flex-direction: column;
    gap: s.space(2);

    &__title {
        font-size: 16px;
        //додаємо обов'язково height, щоб при аніміції skeleton була висота елемента, бо він пустий
        height: 16px;
        color: s.color(dark);
    }

    &__value {
        font-size: 14px;
        //додаємо обов'язково height, щоб при аніміції skeleton була висота елемента, бо він пустий
        height: 14px;
        color: s.color(grey);
    }
}


