{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="page page--background">
    <header>
        {{>back-button}}
    </header>

    <form class="page__section">
        <h1 class="page__title">Відновлення паролю</h1>
        <div class="form">
            <div class="form__item">
                {{>field action="recoveryConfirmForm.change" label="Код" type="number" name="code"
                placeholder="Ваш код"}}
                <span class="form__error" name="code">Помилка</span>
            </div>

            <div class="form__item">
                {{>field-password action="recoveryConfirmForm.change" label="Новий пароль" type="password"
                name="password"
                placeholder="Введіть пароль"}}
                <span class="form__error" name="password">Помилка</span>
            </div>

            <div class="form__item">
                {{>field-password action="recoveryConfirmForm.change" label="Новий пароль ще раз" type="password"
                name="passwordAgain"
                placeholder="Введіть пароль"}}
                <span class="form__error" name="passwordAgain">Помилка</span>
            </div>


        </div>
        {{!-- події прив'язуємо до тега через атрибут --}}
        <button onclick="recoveryConfirmForm.submit()" class="button button--disabled" type="button">Змінити
            пароль</button>
        <span class="alert alert--disabled">Увага, при реєстрації сталася помилка</span>
    </form>
</div>

{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}