@use '../../style' as s;

.field {
	display: flex;
	flex-direction: column;
	gap: s.space(2);

    &__label {
        font-size: 14px;
		color: s.color(gray);
    }

    &__input {
        background-color: s.color('box');
        border-radius: 10px;
		border: 1px solid s.color('box');
       
        padding: s.space(4);
		font-size: 14px;

		color: s.color(dark);

		&::placeholder {
			color: s.color(light);
		}

		transition: border-color 0.3s;

		&:hover {
			border-color: s.color(grey);
		}

		&:focus {
			border-color: s.color(main);
		}

		&--error {
			border-color: s.color(red) !important;
		}
    }
}
